@import "framework.css";

html, body, .app {
    margin: 0;
    padding: 0;
    width: 1*;
    height: 1*;
    background: transparent;
    flow: horizontal-flow;
}

.sidebar {
    width: 70dip;
    height: 1*;
    flow: vertical;
    horizontal-align: center;
    vertical-align: top;
    border-right: 1dip solid var(--van-border-color);
}

.sidebar .icon {
    margin-top: 60dip;
    margin-bottom: 30dip;
}

.sidebar .tab {
    margin-bottom: 30dip;
    color: #333;
    cursor: pointer;
}

.sidebar .active {
    color: var(--van-primary-color);
}

.content {
    width: 1*;
    height: 1*;
    overflow: auto;
    background: #fff;
    flow: horizontal-flow;
}

.database {
    width: 240dip;
    height: 1*;
    border-right: 1dip solid #eee;
    flow: vertical;
    horizontal-align: center;
    vertical-align: top;
}

.context {
    width: 1*;
    height: 1*;
    overflow: auto;
}

.nav-bar {
    flow: vertical;
    vertical-align: top;
    width: 1*;
    height: 1*;
}

.add-connection {
    background: var(--van-background-color);
    padding: var(--van-padding-sm);
    border-bottom: var(--van-border-width-base) solid var(--van-border-color);
}

.empty {
    width: 1*;
    height: 1*;
    padding: 8dip;
}

.nav-bar .connection-list {
    width: 1*;
    height: 1*;
    flow: vertical;
    vertical-align: top;
    overflow: var(--scroll);
}

.nav-bar .connection-list .connection-item {
    width: 240dip;
    height: 30dip;
    flow: horizontal;
    vertical-align: middle;
    padding: 0;
    border-bottom: var(--van-border-width-base) solid var(--van-border-color);
}

.connection-item:hover {
    background-color: var(--van-background-color);
}

.connection-info, .connection-action {
    flow: horizontal;
    vertical-align: middle;
}

.connection-info {
    width: 1*;
    height: 1*;
    flow: horizontal;
    padding-left: 8dip;
    vertical-align: middle;
}

.connection-info .connection-name {
    width: 1*;
    height: 14dip;
    line-height: 14dip;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4dip;
}

.connection-action {
    horizontal-align: center;
    width: 40dip;
    color: var(--van-primary-color);
    padding-right: 8dip;
}

.connection-action img {
    cursor: pointer;
}

.connection-action img:hover {
    opacity: 0.7;
}

.connection-action img:active {
    opacity: 1;
}

.database-list li img{
    vertical-align: middle;
}
.database-list li {
    flow: horizontal;
    horizontal-align: start;
    vertical-align: middle;
}