@import "framework.css";
html,body,.app {
    margin: 0;
    padding: 0;
    width: 1*;
    height: 1*;
    background: transparent;
    flow: horizontal-flow;
}
html {
    border-top: 1dip solid var(--van-border-color);
}
.sidebar {
    width: 70dip;
    height: 1*;
    flow: vertical;
    horizontal-align: center;
    vertical-align: top;
    border-right: 1dip solid var(--van-border-color);
}

.sidebar .icon {
    margin-top: 60dip;
    margin-bottom: 30dip;
}

.sidebar .tab {
    margin-bottom: 30dip;
    color: #333;
    cursor: pointer;
}
.sidebar .active {
    color: var(--van-primary-color);
}

.content{
    width: 1*;
    height: 1*;
    overflow: auto;
    background: #fff;
    flow: horizontal-flow;
}
.database {
    width: 240dip;
    height: 1*;
    border-right: 1dip solid #eee;
    flow: vertical;
    horizontal-align: center;
    vertical-align: top;
}
.context {
    width: 1*;
    height: 1*;
    overflow: auto;
}
.nav-bar{

}
.add-connection{
    padding: var(--van-padding-sm);
    border-bottom: var(--van-border-width-base) solid var(--van-border-color);
}