$primary-color: #409EFF;
$background-color: #f4f4f5;
$white: #fff;
$black: #000;
$border: #dcdee2;


@mixin common-title {
  .key-data-title {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    margin-top: 20px;
    background: linear-gradient(to right, $border, #fff0);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .highlight{
      color: $primary-color;
    }
    ::v-deep(.el-button--mini) {
      font-size: 10px;
      min-height: 22px;
      padding: 0 12px;
    }
  }
  .key-data-scroller{
    width: 100%;
    height: calc(100vh - 242px);
    margin-top: 15px;
    font-size: 12px;
  }
}
