name: 'publish'

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest' # for Arm based macs (M1 and above).
            args: '--target aarch64-apple-darwin'
          - platform: 'macos-latest' # for Intel based macs.
            args: '--target x86_64-apple-darwin'
          - platform: 'ubuntu-22.04'
            args: ''
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      # 关键步骤：创建 Tauri 密钥目录并写入私钥
      - name: 配置 Tauri 更新私钥（Linux/macOS）
        if: matrix.os != 'windows-latest'
        run: |
          # 将私钥写入该目录的 tauri-update.key 文件
          echo "${{ secrets.KEY }}" > ${{github.workspace}}/tauri-update.key
          # 修改私钥权限（Linux/macOS 要求 600，否则 Tauri 会拒绝读取）
          chmod 600 ${{github.workspace}}/tauri-update.key

      - name: 配置 Tauri 更新私钥（Windows）
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          # 写入私钥（指定 UTF-8 编码，避免乱码）
          ${{ secrets.KEY }} | Out-File -FilePath ${{github.workspace}}\tauri-update.key -Encoding utf8

      - name: install pnpm
        run: npm i -g pnpm

      - name: install frontend dependencies
        run: npm install # change this to npm, pnpm or bun depending on which one you use.

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{secrets.token}}
          TAURI_SIGNING_PRIVATE_KEY: ${{github.workspace}}/tauri-update.key
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{secrets.KEY_SECRECT}}
        with:
          tagName: app-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version.
          releaseName: 'App v__VERSION__'
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: true
          prerelease: true
          args: ${{ matrix.args }}